<a href="https://colab.research.google.com/github/malegria01/AnalisisDatos_ACI777_2022/blob/main/Clase2_IntroduccionPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python 

## Parte práctica

Se recomienda ejecutar paso a paso estas celdas para ir repasando Python. Esto será la base para poder avanzar en el curso de análisis de datos, por lo que también puedes agregar código o comentar las celdas para ir practicando y recordando la sintaxis.

# Conectar google Drive

Podemos ejecutar el siguiente código o simplemente no tener este código y presionar la  zona de la izquierda y click en "Activar unidad de Drive" y el código automaticamente aparecerá.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Si quiero saber donde estoy puedo ejecutar códigos de bash anteponiendo "%" o "!"
%pwd

In [ ]:
#vamos a localizarnos en la carpeta que queremos en nuestro Drive
%cd /content/drive/MyDrive/Analisis_Datos_202202/Clase2

#Ahora si... Veamos Python
### El comando "print ()"
Este comando nos muestra por pantalla lo que le entregamos como argumento. Ejemplo: si queremos ver el texto "Hola mundo":

In [ ]:
# Si la línea comienza con "#" significa que es un comentario y el interprete no lo ejecutará
# Esta línea es un comentario
print ("Hola mundo")

In [ ]:
# aca tambien comentario
"""
Comentario multilínea:
Python
lo
ignorará
"""
print("hola")

### Palabras Reservadas
Corresponden a ciertas palabras que poseen un significado predefinido en el lenguaje y por tanto no se pueden utilizar para nombrar variables. Podemos solicitar la lista de palabras reservadas en Python con:

In [ ]:
import keyword 
keyword.kwlist

### Variables
* Las variables tienen un nombre y se le asigna un valor
* Pueden ser de distinto tipo dependiendo del valor asignado
* Así cada variable corresponde a un **objeto**

Veamos algunos ejemplos

In [ ]:
soy_un_numero = 22
soy_una_variable = "Repasando Python"

El uso de espacios para definir una variable es incorrecto

In [ ]:
una varible = "Repasando Python"

### String
Un string es una cadena de caracteres y puede escribirse con comillas simples o dobles

In [ ]:
nombre = 'Melissa'
apellido = "Alegría"
print (nombre)
print (apellido)


Para usar las comillas simples en un print se puede usar comillas simples o dobles, dependiendo de lo que se quiera imprimir

In [ ]:
print('Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.')
print("Como la cadena ha sido creada con comillas dobles, las comillas simples (') aparecerán en el texto sin problema.")

In [ ]:
#Esto generará una error
print("Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.")

En los string se puede emplear los operadores suma (+) y multiplicación (*) para operar con las cadenas de caracteres. Con el primer operador concatenaremos las cadenas que estamos "sumando", mientras que con el segundo repetiremos la cadena tantas veces como el número que la multiplica.

In [ ]:
#Concatenar string: Se debe asignar o concatener el espacio que separa los string Ej: string1 + " " + string2
print ("Mi nombre es " + nombre + " " + apellido)

Otra forma de obtener la misma salida es por interpolación

In [ ]:
#Interpolación
apellido2 = "Arcos"
print ("Mi nombre es {} {} {}".format(nombre, apellido, apellido2))

In [ ]:
# Además podemos asignar esta concatenación a una variable y repetir esta salida usando multiplcación (*).
# Notar que \n se refiere a un salto de línea
saludo = "Mi nombre es " + nombre + " " + apellido + "\n"
print (saludo)
print(3*saludo)

Se puede concatenar con el método ```str.join()``` el cual recibe como argumento una lista, de string que se desean concatenar.
> Este método tambien sirve para Tuplas, String y  Diccionarios

In [ ]:
strings = ['do', 're', 'mi']
separador = ' - '
separador.join(strings)

In [ ]:
#Si no queremos añadir un separado
strings = ['do', 're', 'mi']
''.join(strings)

 El método ```str.format()``` sirve para concatenar no solamente con  el uso de ```print()```

In [ ]:
# Ordenado por defecto:
frase = "Meses: {}, {} y {}".format('Enero','Febrero','Marzo')
print(frase)

# Especificar el orden indicando la posición:
frase = "Meses: {1}, {0} y {2}".format('Enero','Febrero','Marzo')
print(frase)

# Especificar el orden mediante parejas clave-valor:
frase = "Meses: {ene}, {feb} y {mar}".format(ene='Enero', feb='Febrero',mar='Marzo')
print(frase)

#Podemos también hacer uso directo del print()
print("Meses: {}, {} y {}".format('Enero','Febrero','Marzo'))
print("Meses: {1}, {0} y {2}".format('Enero','Febrero','Marzo'))
print("Meses: {ene}, {feb} y {mar}".format(ene='Enero', feb='Febrero',mar='Marzo'))

In [ ]:
# Con variable.count se puede contar cuantas "s" tiene el string
print(nombre.count("s"))

In [ ]:
#Además con len, es posible obtener el largo del string = len(variable)
print(len(apellido))

In [ ]:
# Con upper(), podemos cambiar todo a mayúscula y con lower() todo a minuscula
print(nombre.upper())

In [ ]:
print(nombre.lower())

In [ ]:
cadena3 = nombre + " " + apellido
cadena3
a = cadena3.count("a")
a

Empleando las posiciones se puede acceder a los elementos de las cadenas de caracteres. Para ello, siempre hay que tener en cuenta que el primer elemento de la cadena está ubicado en la posición 0.

In [ ]:
cadena = 'Repasando Python!'

print(cadena[0])
print(cadena[3])
print(cadena[12])
print(cadena[14])
print(cadena[15])

## Variables numéricas y operadores
### Tipos de Objeto
**Integer**: Corresponde a un número entero.

**Float**: Corresponde a un número decimal.

**Time**: Corresponde a una fecha y hora.

**Boolean**: Corresponde a True o False. Son el resultado de una evaluación.

**None**: corresponde a la ausencia de un valor.

In [ ]:
entero = 5
flotante = 1.6

print(entero)
print(flotante)

Se puede operar con los dos tipos de variables utilizando los operadores suma (+), resta (-), multiplicación (*) y división (/). Debemos tener en cuenta que el resultado de cualquier operación realizada con variables flotantes será otra variable flotante. El resultado de cualquier operación realizada con variables enteras, será otra variable entera, a excepción de la división, que será flotante.




Operador | Nombre
:--------: | -------
+ | Suma
- | Resta  
* | Multiplicación
/ | División
**  | Potencia
%  | Módulo o residuo de división
// | división entera

Recordar el orden de las operaciones, primero las **potencias** luego **multiplicacion** o **division** o **módulo** y finalmente **suma** o **resta**

In [ ]:
int1 = 5
int2 = 10
float1 = 5.0
float2 = 10.0

print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int2 / int1)
print('\n')
print(float1 + float2)
print(float1 - float2)
print(float1 * float2)
print(float2 / float1)

También es posible mezclar variables que son tipo intergers (enteras) y float (flotantes) en una operación. Sin embargo, notar que el resultado será de tipo float

In [ ]:
print(int1 + float2)
print(int1 - float2)
print(int1 * float2)
print(float2 / int1)

In [ ]:
int1 = 100
int2 = 3
float1 = 5
float2 = 3.0

print(int1 ** int2)
print(int2 / int1)
print(int2 // int1)
print(int2 % int1)
print('\n')
print(float1 ** float2)
print(float2 / float1)
print(float2 // float1)
print(float2 % float1)
print(float1 + int1)

print(int2 // float1)

### Función type
Esta función nos mostrará el tipo de variable que estamos utilizando y se puede emplear para cualquier tipo de variable.

In [ ]:
print(type(2))
print(type(2.0))

### Función input
Se puede obtener un valor que el usuario ingrese, ejemplo:

In [ ]:
valor = int(input())

### Ejercicio Fahrenheit
Vamos a transformar la temperatura que ingrese el usuario en Fahrenheir y mostraremos la salida en celsius por pantalla

In [ ]:
fahrenheit = int(input())
celsius = (fahrenheit + 40) / 1.8 - 40
print("La temperatura es de {} celsius".format(celsius))

## Conversion de tipos de variables
Utilizando las funciones int(), float() y str(), se pueden convertir las variables de un tipo a otro. 
Cuidado al convertir flotantes a enteros, o cadenas de caracteres a enteros o flotantes.

In [ ]:
entero = 1
flotante = 1.9
cadena = '1'
cadena2 = '1.0'
cadena3 = 'Hello, world!'

print(type(entero))
entero_new = float(entero)
print(type(entero_new))
print('\n')
print(str(entero))
entero_str = str(entero)
print(type(entero_str))
print('\n')

In [ ]:

flotante = 1.9
print(int(flotante))
print(str(flotante))

In [ ]:
print(int(cadena))
cadena = int(cadena)
type(cadena)

In [ ]:
cadena = float(cadena)
type(cadena)

In [ ]:
cadena2= 1
print(cadena2)
# print(int(cadena2)) #Esta línea de código da error.
print(int(float(cadena2)))
print('\n')
# print(int(cadena3)) #Esta línea de código da error.
# print(float(cadena3)) #Esta línea de código da error.

### No olvidar que podemos tener problemas si concatenamos variables deferentes (interger, float por ejemplo)

In [ ]:
edad = 23
size_calzado = 7.3
print("Tengo " + edad + " años y calzo " + size_calzado)

#### Lo podemos solucionar con `str()`

In [ ]:
edad = 23
size_calzado = 7.3
print("Tengo " + str(edad) + " años y calzo " + str(size_calzado))

#Siguiendo con los Strings...
### Cadenas 'f' (f-strings)

Es una forma directa para insertar variables y expresiones en cadenas. Permiten introducir cualquier variable o expresión dentro de un string incluyendo la variable entre llaves `{ ` y `}`

In [ ]:
#Para indicar que se trata de un f-string, 
#este deberá incluir la letra 'f' antes del comiendo de la cadena 
#es decir, antes de las comillas. 

nombre = "Marcela"
edad = 52
saludo = f"Me llamo {nombre} y tengo {edad} años."
print(saludo)

## Recordar métodos útiles para String

| Método | Acción |
|--|--|
|len(str) |  devuelve la longitud del string |
|str.upper() | convierte a mayúsculas |
|str.lower() | convierte a minúsculas |
|str.title() | convierte a mayúsculas la primera letra de cada palabra
|str.count(substring [, inicio, fin]) | devuelve el número de veces que aparece |
|str.find(‘d’) | devuelve el índice de la primera aparición de 'd' (devolverá -1 si no lo encuentra)|
|substr in str | devuelve True si el string contiene el substring |
|str.replace(old, new [, count]) | reemplaza 'old' por 'new' un máximo de 'count' veces. |
|str.isnumeric() | devuelve True si str contiene solamente números|

In [ ]:
a = 4
b = 3
print(f"La multiplicación de {a} y {b} es igual a {a * b}")

## Sigamos ahora con las operaciones de comparación

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :--------:
**==** | Igual a | 5 == 5 | True
**!=** | Distinto a | 5 != 5 | False
**>** | Mayor a | 6 > 6 | False
**>=** | Mayor o igual a | 6 >= 6 | True
**<**  | Menor a | 45 < 50 | True
**<=**  | Menor o igual a | 45 <= 44 | False

### Ejemplo para evaluar si un valor es mayor que otro usando **if**

In [ ]:
valor1 = int(input("ingrese valor 1: "))

In [ ]:
valor2 = int(input("ingrese valor 2: "))

In [ ]:
if valor1 > valor2:
    print("valor1: {} ,es mayor a valor2".format(valor1))
else:
    print("valor 1 es menor")

### Ejemplo para evaluar si un valor es mayor que otro usando **if** y **else** en caso contrario

In [ ]:
valor1 = int(input("ingrese valor 1: "))

In [ ]:
valor2 = int(input("ingrese valor 2: "))

In [ ]:
if valor1 >= valor2:
    if valor1 == valor2:
        print("son iguales")
    elif valor1 > valor2:
        print("valor1 {} es mayor".format(valor1))
else:
    print("valor2 {} es mayor".format(valor2))

### ¿ Que pasa si ambos números son iguales?

In [ ]:
valor1 = 300
valor2 = 300
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
else:
    if valor1 == valor2:
        print("Ambos valores son iguales")
    else:
        print("valor2 {} es mayor".format(valor2))

### Este código se puede reescribir usando elif

In [ ]:
valor1 = 100
valor2 = 100
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
elif valor1 == valor2:
    print("Ambos valores son iguales")
else:
    print("valor2 {} es mayor".format(valor2))

# If y Elif
Hay una diferencia fundamental, si usas `if` encadenados todas las expresiones son evaluadas siempre, por el contrario si usas `elif`, en el momento que una condición anterior (el if u otro elif se cumpla), ese elif no se evalúa siquiera.

In [ ]:
#Con if
a = 15
if a % 5 == 0:
    print(f"{a} es divisible entre 5")
if a % 3 == 0:
    print(f"{a} es divisible entre 3")

In [ ]:
#Con elif
a = 15

if a % 5 == 0:
    print(f"{a} es divisible entre 5")
elif a % 3 == 0:
    print(f"{a} es divisible entre 3")

### Operadores lógicos

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :------------------------:
**&** | y (and)| False & True | Devuelve **False**. Si ambos son True, devuelve True
**\|** | o (or)| False \| True | Devuelve **True**. Si al menos uno de True devuelve True
**!=** | distinto de (not)| True != True| Devuelve **False**. Devuelve lo opuesto al resultado de la evaluación

### Ejemplo

In [ ]:
edad = 22
diestro = True
if edad >= 18:
    if diestro is True:
        print ("Usted es diestro y mayor de edad")

In [ ]:
#Se puede escribir aplicando "and" en el if
edad = 15
diestro = True
if edad >= 18 and diestro is True:
    print ("Usted es diestro y mayor de edad")
elif edad < 18 and diestro is True:
    print ("Usted es diestro y menor de edad")

### Listas
Las listas son un tipo de variable que contienen distintas variables de cualquier tipo en su interior.

In [ ]:
lista1 = [1, 2, 3, 4]
lista2 = [1.5, 6.3, 8.9]
lista3 = ['Hola', 'mundo']

print(lista1)
print(lista2)
print(lista3)

Las listas pueden contener diferentes tipos de datos

In [ ]:
lista4 = [1, 'Hola, mundo!', 3.5]

print(lista4)

In [ ]:
#Se puede definir una lista vacía 
lista_vacia = []

De la misma manera que con los elementos de las cadenas de caracteres, se puede acceder a los elementos de las listas de la siguiente manera:

In [ ]:
print(lista4[0])
print(lista4[1])
print(lista4[2])

También se puede cambiar un elemento de una lista

In [ ]:
# Lista con valores
alumnos = ["Maria", "Juan", "Pedro", "Diego"]
    
# Acceder a elementos
print(alumnos[0]) # muestra "Maria"
print(alumnos[1]) # muestra "Juan"
print(alumnos[2]) # muestra "Pedro"
print(alumnos[-1]) # muestra "Diego"
    
# Cambiar un elemento
alumnos[0] = "Lily" 
print ("\nCambio nombre a la posicion cero:\n")
print (alumnos)

Los **métodos más utilizados** con las listas son los siguientes:

| Método | Acción |
|--|--|
| `alumnos.append("Javiera")` | Inserta "Javiera" al final de la lista |
| `alumnos.insert(0,"Javiera")` | Inserta "Javiera" en la posición 0 |
| `alumnos.remove("Javiera")` | Elimina la primera aparición de "Javiera" de la lista |
| `alumnos.pop()` | Elimina el último elemento de la lista |
| `alumnos.pop(3)` | Elimina el cuarto elemento de la lista |
| `alumnos.clear()` | Elimina todos los elementos de la lista |
| `alumnos.index("Javiera")` | Devuelve el índice de la primera aparición de "Javiera" |
| `alumnos.sort()` | Ordena la lista (los elementos deben ser comparables) |
| `sorted(alumnos)` | Devuelve una copia de la lista 'alumnos' ordenada   |
| `alumnos.reverse()` | Ordena la lista en orden inverso |
| `alumnos.copy()` | Devuelve una copia de la lista |
| `alumnos.extend(otra_lista)` | Fusiona las dos listas |

Podemos usar "+" para concatenar listas:

In [ ]:
alumnos2 = alumnos + ['nuevo item']
print(alumnos2)

Y se puede duplicar con "*"

In [ ]:
alumnos2 * 2

### Iterar una lista

In [ ]:
new_list = alumnos2 * 2

for l in new_list:
    print(l)

#### Otra forma de iterar es usando range

In [ ]:
lista1 = [5, 9, 10]
for i in range(0, len(lista1)):
    print(lista1[i])

#### Y otra forma es usando while

In [ ]:
lista =  ['Python','JavaScript','JAVA']
i = 0
sizeofList = len(lista) 

while i < sizeofList :
    print("Programo en",lista[i]) 
    i += 1

## Nos vemos la próxima clase, recuerda estudiar y practicar!