# Introducción a Python II

## Continuación clase anterior

Se recomienda ejecutar paso a paso estas celdas para ir repasando Python. Esto será la base para poder avanzar en el curso de análisis de datos, por lo que también puedes agregar código o comentar las celdas para ir practicando y recordando la sintaxis.

In [4]:
#Si se desea conecrar a google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
#vamos a localizarnos en la carpeta que queremos en nuestro Drive
%cd /content/drive/MyDrive/Analisis_Datos_202202/Clase3

/content/drive/MyDrive/Analisis_Datos_202202/Clase3

### Diccionarios
Un diccionario en Python es una colección de elementos, donde cada uno tiene una ```llave``` key y un ```valor``` value. Los diccionarios se pueden crear con paréntesis ```{}``` separando con una coma ```,``` cada par ```key: value```. 

Las claves tienen que ser únicas y estar formadas por un string o un número. 

En el siguiente ejemplo tenemos tres keys que son el nombre, la edad y el documento.

In [6]:
d1 = {
  "Nombre": "Sara",
  "Edad": 27,
  "Documento": 1003882
}
print(d1)

{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

También podemos ver los diccionarios de le siguiente forma

In [7]:
dictionary = {'Asignatura 1' : 'Analisis de datos', 2 : ['a', 2, 3.0], 3.0 : 'Machine Learning', 'Asignatura 4' : 10}
print(dictionary)

{'Asignatura 1': 'Analisis de datos', 2: ['a', 2, 3.0], 3.0: 'Machine Learning', 'Asignatura 4': 10}

In [8]:
#Con Type podemos saber que typo es la variable dictionary

print(type(dictionary))

<class 'dict'>

In [9]:
#Se puede acceder a mostrar la clave, si le entregamos la llave específica
print(dictionary['Asignatura 1'])

Analisis de datos

In [10]:
#Dentro de un diccionario, se puede tener tipo string listas, etc. 
#Esto lo podemos saber con type, y entregando la llave para saber de que tipo es el valor.
print(type(dictionary[2]))
print(type(dictionary['Asignatura 1']))
print(type(dictionary[3.0]))

<class 'list'>
<class 'str'>
<class 'str'>

In [11]:
print(dictionary[2])

['a', 2, 3.0]

In [12]:
print(type(dictionary[2]))

<class 'list'>

In [13]:
print(dictionary[3.0])

Machine Learning

In [14]:
print(type(dictionary[3.0]))

<class 'str'>

In [15]:
print(dictionary['Asignatura 4'])
print(type(dictionary['Asignatura 4']))

10
<class 'int'>

#### Es posible usar el constructor `dict()` para crear un diccionario.

In [16]:
d3 = dict(Nombre='Sara',
          Edad=27,
          Documento=1003882)
print(d3)

{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

>Algunas propiedades de los diccionario en Python son las siguientes:

    -Son dinámicos, pueden crecer o decrecer, se pueden añadir o eliminar elementos.
    -Son indexados, los elementos del diccionario son accesibles a través del ```key```.
    -Y son anidados, un diccionario puede contener a otro diccionario en su campo ```value```.

#### ¿Cómo se puede acceder y modificar los elementos de un diccionario

Se puede acceder a los elementos con ```[]``` o con la función ```get()```

In [17]:
dic1 = dict(Nombre='Juan',
            Edad=27,
            Sexo='F')


print(dic1['Nombre'])     
print(dic1.get('Nombre'))

Juan
Juan

Para modificar un elemento, se usa ```[]``` con el nombre del key y asignar el valor que queremos.

In [18]:
dic1['Nombre']= "Luis"
print(dic1)

{'Nombre': 'Luis', 'Edad': 27, 'Sexo': 'F'}

In [19]:
estudiante = {
    "nombre": "Juan Pérez",
    "edad": 30,
    "gender": "M",
    "Diestro" : False
}

In [20]:
estudiante

{'nombre': 'Juan Pérez', 'edad': 30, 'gender': 'M', 'Diestro': False}

In [21]:
# Acceder al valor de una clave
edad = estudiante["edad"] # devuelve el valor de 'edad'
gender = estudiante.get("gender") # devuelve el valor de 'gender'
print(edad)
print(gender)

30
M

In [22]:
# Insertar o actualizar un valor:
estudiante["edad"] = 25 # actualiza el valor de 'edad'
estudiante["curso"] = 3 # inserta una nueva pareja clave - valor
print(edad)
print(estudiante)

30
{'nombre': 'Juan Pérez', 'edad': 25, 'gender': 'M', 'Diestro': False, 'curso': 3}

In [23]:
# insertar una pareja clave - valor o actualizar si ya existe:
estudiante.update({'aprobados':'8'})

print(estudiante)

{'nombre': 'Juan Pérez', 'edad': 25, 'gender': 'M', 'Diestro': False, 'curso': 3, 'aprobados': '8'}

#### Formas de recorrer un diccionario:

Es muy común recorrerlo con for

In [24]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key in diccionario:
    print(key)

a
b
c

Otra forma equivalente de recorrerlo es

In [25]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key in diccionario.keys():
    print (key)

a
b
c

Para iterar el diccionario accediendo a los valores se puede de hacer :

In [26]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key in diccionario:
    print(diccionario[key])

1
2
3

In [27]:
## Queremos mostrar la llave y el valor
for key in diccionario:
  print (key, ":", diccionario[key])

a : 1
b : 2
c : 3

Otra forma es usando la función `items()` la cual devuelve un diccionario como tuplas `(key,value)`

In [29]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key, value in diccionario.items():
    print("El valor de %s es %d" % (key, value))

El valor de a es 1
El valor de b es 2
El valor de c es 3

### Algunos de los métodos más utilizados son los siguientes:

| Método | Acción |
|--|--|
|diccionario.keys() 	| Devuelve todas las claves del diccionario |
|diccionario.values() |	Devuelve todos los valores del diccionario |
|diccionario.pop(clave) |	Elimina la clave del diccionario y devuelve su valor asociado. Si no lo encuentra devuelve error|
| diccionario.copy() | Retorna una copia del deccionario
|diccionario.clear() |	Vacía el diccionario |
|clave in diccionario |	Devuelve True si el diccionario contiene la clave o False en caso contrario.|
|valor in diccionario.values() |	Devuelve True si el diccionario contiene el valor o False en caso contrario.|

### dict()
Recibe como parámetro una representación de un diccionario y si es factible, devuelve un diccionario de datos.

In [30]:
dic =  dict(nombre='nestor', apellido='Plasencia', edad=22)
print(dic)

{'nombre': 'nestor', 'apellido': 'Plasencia', 'edad': 22}

In [31]:
print(type(dic))

<class 'dict'>

### zip()
Recibe como parámetro dos elementos iterables, ya sea una cadena, una lista o una tupla. Ambos parámetros deben tener el mismo número de elementos. Se devolverá un diccionario relacionando el elemento i-esimo de cada uno de los iterables.

In [32]:
dic = dict(zip('abcd',[1,2,3,4]))
print(dic)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


### keys()

Retorna una lista de elementos, los cuales serán las keys de nuestro diccionario.

In [37]:
dic = dict(zip('abcd',[1,2,3,4]))
keys= dic.keys()
print (keys)

dict_keys(['a', 'b', 'c', 'd'])

In [38]:
print(dic.keys())

dict_keys(['a', 'b', 'c', 'd'])

#### values()
Retorna una lista de elementos, que serán los valores de nuestro diccionario.

In [39]:
dic = dict(zip('abcd',[1,2,3,4]))
values= dic.values()
print(values)

dict_values([1, 2, 3, 4])

#### pop()
Recibe como parámetro una clave, elimina esta y devuelve su valor. Si no lo encuentra, devuelve error.

In [40]:
dic = dict(zip('abcd',[1,2,3,4]))
valor = dic.pop('b') 
print("valor:", valor)
print("diccionario final:", dic)

valor: 2
diccionario final: {'a': 1, 'c': 3, 'd': 4}

### clear()
Elimina todos los ítems del diccionario dejándolo vacío.

In [41]:
dic = dict(zip('abcd',[1,2,3,4]))
dic.clear()
print(dic)

{}

### get() : ```get(<key>[,<default>])```
El método get() nos permite consultar el value para un key determinado. El segundo parámetro es opcional, y en el caso de proporcionarlo es el valor a devolver si no se encuentra la key

In [42]:
dic = dict(zip('abcd',[1,2,3,4]))
print(dic.get('a'))

1

In [43]:
#si queremos saber el valor de un key pero no sabemos si está, para que no tire error podemos hacer :
dic = dict(zip('abcd',[1,2,3,4]))
print(dic.get('z', 'No encontrado'))

No encontrado

### popitem()
Este método elimina de manera aleatoria un elemento del diccionario.

In [44]:
dic = dict(zip('abcd',[1,2,3,4]))
dic.popitem()

('d', 4)

In [45]:
print(dic)

{'a': 1, 'b': 2, 'c': 3}

### Diccionarios anidados
En Python los diccionarios pueden estar contenidos uno dentro de otro. Podemos ver como los valores anidado1 y anidado2 del diccionario d contienen a su vez otro diccionario.

In [46]:
anidado1 = {"a": 1, "b": 2}
anidado2 = {"a": 1, "b": 2}
d = {
  "anidado1" : anidado1,
  "anidado2" : anidado2
}
print(d)

{'anidado1': {'a': 1, 'b': 2}, 'anidado2': {'a': 1, 'b': 2}}

### update()
El método update() se llama sobre un diccionario y tiene como entrada otro diccionario. Los value son actualizados y si alguna key del nuevo diccionario no esta, es añadida.

In [47]:
d1 = {'a': 1, 'b': 2}
d2 = {'a': 0, 'd': 400}
d1.update(d2)
print(d1)

{'a': 0, 'b': 2, 'd': 400}

### Tupla
Una tupla es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis y separados por comas. Una tupla puede no contener ningún elemento, es decir, ser una tupla vacía.
Las tuplas son muy similares a las listas, pero con dos diferencias. 

- Son inmutables, lo que significa que no pueden ser modificadas una vez declaradas
- En vez de inicializarse con corchetes `{}` se hace con `()`

In [49]:
tupla = ('Ai', 2, 5.0, 'DP')
print(tupla)

('Ai', 2, 5.0, 'DP')

In [50]:
print(tupla[2])
print(type(tupla[2]))

5.0
<class 'float'>

También pueden declararse sin `()`, separando por `,` todos sus elementos.

In [51]:
tupla = 1, 2, 3
print(type(tupla)) 
print(tupla)

<class 'tuple'>
(1, 2, 3)

In [52]:
# como son inmutables, no se puede modificar el valor, intentemos  hacerlo para ver que pasa....
tupla = (1, 2, 3)
tupla[0] = 5

TypeError: ignored

Al igual que las listas y los diccionarios, las tuplas también pueden ser anidadas

In [54]:
tupla = 1, 2, ('a', 'b'), 3
print(tupla)      
print(tupla[2][0])

(1, 2, ('a', 'b'), 3)
a

Es posible convertir una lista en tupla haciendo uso de al función tuple()

In [55]:
lista = [1, 2, 3]
tupla = tuple(lista)
print(type(tupla)) 
print(tupla)

<class 'tuple'>
(1, 2, 3)

Se puede también asignar el valor de una tupla con n elementos a n variables.

In [56]:
l = (1, 2, 3)
a, b, c = l
print(a)
print(b)
print(c)

1
2
3

In [58]:
#Se puede usar el metodo count() para contar un elemento dentro de la tupla
l = (1, 2, 3, 1, 4, 6, 7, 8, 9, 1, 4)
l.count(1)

3

### Conjunto

Un conjunto es una set desordenado de valores no repetidos. Los conjuntos de Python son análogos a los conjuntos matemáticos. El tipo de datos que representa a los conjuntos se llama set. El tipo set es mutable: una vez que se ha creado un conjunto, puede ser modificado.

In [62]:
conjunto1 = {'a', 2, 3.0}
conjunto2 = {'a', 2, 4.0}
print(conjunto1)

{3.0, 2, 'a'}

In [63]:
print(conjunto2)

{2, 'a', 4.0}

In [60]:
# Valores no repetidos .add
conjunto1.add('b')
print(conjunto1)

{3.0, 2, 'a', 'b'}

In [65]:
# Podemos añadir valores no repetidos al conjunto con .add
conjunto1.add('b')
print(conjunto1)

{3.0, 2, 'a', 'b'}

In [66]:
# si añadimos un valor que ya esta en la lista no hace nada
conjunto1.add(3.0)
print(conjunto1)

{3.0, 2, 'a', 'b'}

**Input :**

A = (0, 2, 4, 6, 8)

B = (1, 2, 3, 4, 5)

**Output :**
 
 Union : (0, 1, 2, 3, 4, 5, 6, 8)
 
 Intersection : (2, 4)
 
 Difference : (8, 0, 6)
 
 Symmetric difference : (0, 1, 3, 5, 6, 8)
 
```
| for union.
& for intersection.
– for difference
^ for symmetric difference

```

In [67]:
# Conjunto 1 y Conjunto 2 lo que tienen ambos en comun: intersección
print (conjunto1)
print (conjunto2)
print(conjunto1 & conjunto2)

{3.0, 2, 'a', 'b'}
{2, 'a', 4.0}
{2, 'a'}

In [69]:
# Conjunto 1 o Conjunto 2 lo que se encuentra en conjunto1 o en el conjunto2: unión
print (conjunto1)
print (conjunto2)
print(conjunto1 | conjunto2)

{3.0, 2, 'a', 'b'}
{2, 'a', 4.0}
{2, 3.0, 'a', 4.0, 'b'}

In [70]:
# Le quita los valores comunes
print(conjunto1)
print(conjunto2)
print(conjunto1 - conjunto2)

{3.0, 2, 'a', 'b'}
{2, 'a', 4.0}
{'b', 3.0}

In [71]:
a = (conjunto1 - conjunto2)
b = (conjunto2 - conjunto1)
c = (a,b)
c

({3.0, 'b'}, {4.0})

###  Cortes de string (cadenas) y listas

Recordar que las posiciones en las cadenas de caracteres y listas empiezan a contar desde 0.

In [73]:
cadena4 = 'abcdefg'

In [74]:
print(cadena4[0:4])

abcd

En este caso, hemos puesto **[0:4]**, es decir, estamos extrayendo los elementos guardados en las posiciones 0, 1, 2 y 3. Es muy importante tener en cuenta que el primer valor (0) sí que se extraerá, pero no así el último.

In [75]:
lista5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [76]:
print(lista5[0:4])

['a', 'b', 'c', 'd']

In [77]:
#Otra forma de hacer lo mismo es colocar directamente [:posicion]. Se asume que parte de 0
print(cadena4[:4])

abcd

Aparte de acceder a los vectores por el primer elemento, también podemos acceder a ellos desde el último empleando el operador `-`

In [78]:
cadena4 = 'abcdefg'
print(cadena4[-3:-1])

ef

In [79]:
#Si queremos accder al ultimo elemento
print(cadena4[-1])

g

In [82]:
# Que creen que aparece acá?
print(cadena4[-0])

a

In [83]:
cadena4 = 'abcdefg'
print(cadena4[-7:])

abcdefg

In [84]:
# acceder a todos los elementos menos el último
print(cadena4[:-1])

abcdef

In [85]:
lista5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(lista5[-3:])

['e', 'f', 'g']

In [86]:
#Podemos obtener la posicion de un caracter con index
cadena4 = 'abcdefghijklmn'
indice_c = cadena4.index('i') 
print(indice_c)

8

In [87]:
subcadena = cadena4[:indice_c]
print(subcadena)

abcdefgh

In [88]:
subcadena = cadena4[:indice_c-3]
print(subcadena)

abcde

## Ejercicios para practicar al final de la clase!
Teniendo la siguiente cadena "cadena = "abcdefg" obtener:

Tips:
**cadena[ini:fin].**
> obtenemos la subcadena desde el principio hasta la posición 10

`subcadena = cadena[:10]`

>obtenemos la subcadena desde la posición 10 hasta el final

`subcadena = cadena[10:]`

1) Obtener solo "b, c, d"

In [89]:
cadena = "abcdefg"

2) Obtener "a, c, e"

3) Usando lo aprendido, como puedo obtener la cadena al revés?  gfedcba

4) obtener gec

# Ciclos

***El while se usa hasta conseguir que la condición definida por el ususario es cierta o para correr código infinitamente***

    while condicion es cierta:
      instruccion
      instruccion
      .
      .
      instruccion```

***El for se usa para iterar sobre algo, que puede ser una lista o un string***

    for i in lista:
        instruccion
        instruccion
        .
        .
        instruccion

***Los ciclos tienen cuatro componentes básicos:***

**```Inicialización```:**  Es cuando se debe inicializar la variable que va a iterar, por ejemplo ```i = 0``` o la variable **i** del for (for **i** in lista)

**```Condición de repetición```:** Hasta donde se ejecuta el ciclo. Por ejemplo ```for i in range(0,3)``` se ejecutará siempre y cuando i sea 0, 1 y 2. Ej.2: ```while x <= 6``` se ejecutará siempre y cuando x sea menor o igual a 6.

**```Cuerpo del ciclo```:** Se ejecutan las instrucciones determinadas por el ususario dentro del ciclo.
```Actualizar```: Actualizar la variable que itera para continuar el ciclo. En un ciclo while, es necesario incremetar/disminuir la variable Por ejemplo ```x = x + 1``` , ```x +=1``` . Por otro lado en el for al usar ```range``` por defecto se incrementa en uno. 



## ¿Cómo podemos imprimir las tablas de multiplicar usando ciclos

 1) Necesitamos una varible que almacenará lo que se mostrará en pantalla = string
 
 2) el primer cliclo for nos sirve para definir el rango de la tabla de multiplicar a realizar. Ej tabla del 1 al 3 , se colocará range(1,4)
 
 3) El segundo ciclo, define los digitos que queremos multiplicar por ejemplo del 1 al 10 --> range(1,11)
 
 4) Podemos definir una variable que contenga el valor de la multiplicación que serán los digitos del primer ciclo multiplicado por los digitos del segundo ciclo
 
 5) Finalmente mostramos el resultado y si queremos mostrar con salto de linea, agregrar a la variable almacenadora string.

In [92]:
string=''

for i in range(1,2):
    for j in range(1,11):
        mult = i * j
        string += str(i) + ' * ' +str(j) + ' = ' + str(mult) 
        string +="\n"
        
        
print(string)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

## ¿Cómo se pueden hacer figuras usando ciclos? 

Vamos a ver como podemos hacer la siguiente figura:

    +
    ++
    +++
    ++++
    +++++

La secuencia es pensar que hay 5 filas y que a medida que la fila aumenta, tambien aumenta el numero de + por columna. Es decir, en la fila 1, hay 1 ```+```: en la fila2, hay 2 ```+```...etc hasta fila n hay n ```+```. 
Se debe llenar cada fila con asteriscos según el número de fila donde se encuentra la iteración. Al final se concatena un salto de línea. Para ello podemos usar :
1. Un ciclo for 

2. Un ciclo for anidado.

3. Concatenar un salto de línea.

- Se define el número de filas: ```n=5```

- Definimos una variable que contiene lo que vamos a imprimir: ```cointain```

- En el primer ciclo for, generamos una variable ```i``` que tenga un ranfo de ```n+1```  ya que ```n``` es igual a 0, 1, 2, 3, 4. En este caso, en la primera vuelta ```i=0``` y no entra en el segundo for porque  no hay rango de 0. Es por ello que para lograr entrar en el segundo for las veces que necesitamos, se debe sumar ```1``` al valor ```n``` : ```range (n+1)```

In [93]:
n = 5

contain =''
for i in range(n+1):
    for j in range(i):
        contain +='+'
    if i != n+1:    
        contain +='\n'
print(contain)

+
++
+++
++++
+++++

## Hacer la misma figura al revés 
    +++++
    ++++
    +++
    ++
    +
 
 Iteración 0: ```5 - 0 = 5```
 
 Iteración 1: ```5 - 1 = 4```
 
 Iteración 2: ```5 - 2 = 3```
 
 Iteración 4: ```5 - 3 = 2```
 
 Iteración 5: ```5 - 4 = 1```

In [94]:
n = 5
contain=''
for i in range(n):
    for j in range(n - i): 
        contain += '+'
    contain += '\n' 
print(contain)

+++++
++++
+++
++
+

# Funciones

- Las funciones nos permiten agrupar instrucciones y reutilizarlas.
- Una funcion puede devolver un valor o no devolver nada. Por ejemplo, ya hemos usado anteriormente la función ```print()``` que muestra por pantalla lo que le entregamos y la función ```input()``` que solo almacena el input entregado por el usuario.
- Las funciones se pueden llamar desde el espacio de trabajo principal como ```función()```. Ej. ```print()```, ```len()```
- Tambien se pueden llamar dentro de objetos como ```objeto.función()```. Ej. ```"hola".upper```
- Se pueden llamar dentro de las clases como ```Clase.función()```. Ej. ```LinearRegression().fit()```
- Se pueden llamar ademas dentro de módulos como ```módulo.función()``` Ej. ```math.sqrt()```

### Algunas carateristicas

- Se pueden importar desde un archivo o desde librerías externas 
- Se organizan en torno a clases y módulos
- Se usan para la programación ***modular*** : Dividir un programa en funciones independientes.
- Pueden tener tres partes: ***nombre***, ***parámetros*** y ***valor de retorno***
```nombre``` no puede ser una palabra reservada  y se define como ```def```nombre_funcion

***Ejemplo de donde es adecuado usar una función: Realizar una calculadora simple: se puede hacer en funciones independientes la suma, resta, multiplicación y división.***

~~~
def nombre_de_funcion(param1,param2, etc. ):
    #Se especifica que hace la función o se agrega una descripción de la función entre comillas triples
    """Funcion que realiza una operación de tipo X y devuelve un valor Z"""
    # Instrucciones se identa de 4 espacios
    instruccion
    instruccion
    .
    .
    return value
    
~~~

In [95]:
def mostrar_menu():
    """Funcion menu imprime el menú de opciones del banco """
    print ("\n¡Bienvenido al Banco Amigo!")
    print ("Escoja una opción:")
    opcion = int(input("1. Consultar saldo\n2. Hacer depósito\n3. Realizar giro\n4. Salir\n"))
    
    return opcion

In [96]:
opcion = mostrar_menu()

¡Bienvenido al Banco Amigo!
Escoja una opción:
1. Consultar saldo
2. Hacer depósito
3. Realizar giro
4. Salir
1

In [97]:
def mostrar_saldo(saldo):
    print ("Tu saldo es de {}".format(saldo))

In [98]:
saldo = 100000
mostrar_saldo(saldo)

Tu saldo es de 100000

In [99]:
help(mostrar_menu)

Help on function mostrar_menu in module __main__:

mostrar_menu()
    Funcion menu imprime el menú de opciones del banco

In [100]:
def incrementar_en_uno(numero):
    """ 
    Esta función recibe cualquier numero y lo incrementa en 1. Imprime por pantalla el total de ese incremento
    """
    total = numero + 1     
    print("El resultado es: ", total)

In [101]:
incrementar_en_uno(20)

El resultado es:  21

In [102]:
incrementar_en_uno(5.0)

El resultado es:  6.0

In [103]:
# la función no acepta str
incrementar_en_uno('4')

TypeError: ignored

In [104]:
help(incrementar_en_uno)

Help on function incrementar_en_uno in module __main__:

incrementar_en_uno(numero)
    Esta función recibe cualquier numero y lo incrementa en 1. Imprime por pantalla el total de ese incremento

In [105]:
# La misma función pero en vez de imprimir, retornará el número 
def incrementar_en_uno(numero):
    """ 
    Esta función recibe cualquier número y lo incrementa en 1. Retorna el total de ese incremento
    """
    total = numero + 1    
    return total

In [106]:
help(incrementar_en_uno)

Help on function incrementar_en_uno in module __main__:

incrementar_en_uno(numero)
    Esta función recibe cualquier número y lo incrementa en 1. Retorna el total de ese incremento

In [107]:
# Aqui en notebooks si se ve pero en un script que se corre por consola no se verá
a = incrementar_en_uno(30)
print(a)

31

In [108]:
numero = int(input("Ingrese el numero a incrementar:\n"))

Ingrese el numero a incrementar:
4

In [109]:
# Una forma es mostrar explixitamente el retorno
print(incrementar_en_uno(numero))

5

In [110]:
# Otra forma de mostrar es 

incremento = incrementar_en_uno(10)
print (incremento)

11